In [1]:
#importing the necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

# Data collection and analysis

In [2]:
#lloading dataset
df = pd.read_csv('C:/Users/Hemant/jupyter_codes/ML Project 1/Diabetes detection/diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
#shape of the dataset
df.shape

(768, 9)

In [5]:
#getting the statistical measure of the dataset
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
df['Outcome'].value_counts() #give the total count of different values in the column
'''
0 ----> non-diabetic
1 ----> diabetic
'''

'\n0 ----> non-diabetic\n1 ----> diabetic\n'

In [7]:
#let us check the mean of the data across the outcome column
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [8]:
#sepearting data and labels
X = df.drop(columns = 'Outcome', axis = 1)
Y = df['Outcome']

Standardize the data

In [9]:
scaler = StandardScaler()
standardize_data = scaler.fit(X)
standardize_data = scaler.transform(X)

In [10]:
standardize_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [11]:
X = standardize_data
y = df['Outcome']

split the data in training and testing data

In [12]:
x_train , x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, stratify = y, random_state = 2)

# TRAINING THE MODEL

In [13]:
classifier = svm.SVC(kernel = 'linear')

In [14]:
#training the SUPPORT VECTOR MACHINE CLASSIFIER
classifier.fit(x_train, y_train)

SVC(kernel='linear')

evaluating the model

In [15]:
#accuracy score on the training data
x_train_predict = classifier.predict(x_train)
training_data_accuracy = accuracy_score(x_train_predict, y_train)

In [16]:
print('ACCURAY SCORE OF THE TRAINING DATA : ', training_data_accuracy)

ACCURAY SCORE OF THE TRAINING DATA :  0.7866449511400652

In [17]:
#accuracy score on the testing data
x_test_predict = classifier.predict(x_test)
test_data_accuracy = accuracy_score(x_test_predict, y_test)

In [18]:
print('ACCURAY SCORE OF THE TESTING DATA : ', test_data_accuracy)

ACCURAY SCORE OF THE TESTING DATA :  0.7727272727272727

# MAKING A PREDICTING SYSTEM

In [20]:
# input_data = input()
# input_array = [float(i) for i in input_data.split(',')]
input_array = (0,137,40,35,168,43.1,2.288,33)
#convert the input into numpy array
input_array = np.asarray(input_array)

#reshape the array as we are predicting only on one instance
reshaped_array = input_array.reshape(1, -1)

#standardize the input data
std_data = scaler.transform(reshaped_array)
print(std_data)

#prediction
prediction = classifier.predict(std_data)
print(prediction)
if prediction == 0:
    print('NON-DIABETIC')
else:
    print('DIABETIC')

[[-1.14185152  0.5040552  -1.50468724  0.90726993  0.76583594  1.4097456
   5.4849091  -0.0204964 ]]
[1]
DIABETIC

# Saving the trained model

In [21]:
import pickle

In [22]:
name = 'Trained_model.sav'
pickle.dump(classifier, open(name, 'wb'))